# RStudio files
.Rproj.user

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.Ruserdata

# Data
*.rds
*.RDS
/data/*

# Figures
*.png
*.svg

# Tables
*.tex

# Directories
/doc/*

# Maps
/maps/*

# Reports
*.pdf
*.html

# knitr and R markdown default cache directories
*_cache
*_files 


# File with comments
NotesMatchesOriginAndGithubFolders